/* You can add global styles to this file, and also import other style files */
body {
	background: #183046;
}

.areaBack{
	width: 400px;
	margin: auto;
	margin-top: 10%;
	border-radius: 5px;
	padding : 25px;
	padding-top: 5px;
	background-color: #f8f8f8;
}

.normalWeight {
	font-weight: normal;
}